<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landslides index</title>
</head>
<body>
    <form method="POST">
        <input name="location" id="id_new_location" placeholder="Enter a location" />
        {% csrf_token %}
    </form>

        <!-- Only for passing test -->
        <br>
        <h1>A list of landslides</h1>
        <br>
    <table id="id_list_table">
        {% for location in locations %}
            <tr><td>1: {{ location.location }}</td></tr>
        {% endfor %}
    </table>
    </body>
</html>